@import "tailwindcss";

@theme {
  --font-sans: "Iosevka GarrettDavisDev Web", "ui-monospace";
  --font-mono: "Iosevka GarrettDavisDev Web", "ui-monospace";
}

@layer base {
  /* Inherit more things so that more things cascade and we don't need to
   * override button colors (for example). */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-feature-settings: inherit; /* 1 */
    font-variation-settings: inherit; /* 1 */
    font-size: 100%; /* 1 */
    font-weight: inherit; /* 1 */
    line-height: inherit; /* 1 */
    letter-spacing: inherit; /* 1 */
    color: inherit; /* 1 */
    margin: 0; /* 2 */
    padding: 0; /* 3 */
    border: none;
    background: none;
  }
}

hr {
  margin-block: theme("margin.4");
  border-top: 1px solid theme("borderColor.slate.500");
}

@utility markdown {
  h1 {
    font-size: var(--text-4xl);
    line-height: theme("lineHeight.10");
  }

  h2 {
    font-size: var(--text-3xl);
    line-height: theme("lineHeight.9");
  }

  h3 {
    font-size: var(--text-2xl);
    line-height: theme("lineHeight.8");
  }

  h4 {
    font-size: var(--text-xl);
    line-height: theme("lineHeight.7");
  }

  h5 {
    font-size: var(--text-lg);
    line-height: theme("lineHeight.7");
  }

  p {
    margin-block: theme("margin.4");
  }

  line-height: theme("lineHeight.7");
}

.presentation {
  & main {
    display: grid;
    gap: 5rem;

    & h1 {
      font-size: var(--text-7xl);
    }

    & h2 {
      font-size: var(--text-6xl);
    }

    & h3 {
      font-size: var(--text-5xl);
    }

    & h4 {
      font-size: var(--text-4xl);
    }

    & h5 {
      font-size: var(--text-3xl);
    }

    font-size: var(--text-3xl);

    & section {
      height: calc(100vh - 5rem);
      width: calc(100vw - 5rem);
      border: 1px solid var(--color-slate-500);
      margin-inline: auto;
      position: relative;
    }
  }
}

.markdown,
.presentation {
  a:not(.lnlinks) {
    &:link {
      text-decoration: solid underline var(--color-yellow-100);
      text-decoration-thickness: 3px;
    }
    &:visited {
      text-decoration-color: var(--color-violet-200);
    }
    &:active {
      text-underline-offset: 2px;
    }
  }

  code:not(:is(.chroma *, .chroma)) {
    background-color: var(--color-zinc-200);
    @media (prefers-color-scheme: dark) {
      background-color: var(--color-zinc-950);
    }
    border-radius: 0.25rem;
  }

  :is(h1, h2, h3, h4, h5, h6) {
    margin-block: theme("margin.4");
    font-weight: var(--font-weight-semibold);
    alignitems: baseline;
    gap: 0.15em;
    position: relative;
    display: flex;
    a {
      display: inline-block;
      text-decoration: none;
      &:link {
        color: var(--color-yellow-100);
      }
      &:visited {
        color: var(--color-violet-200);
      }
      &:active {
        transform: translate(0, 2px);
      }
      scale: 0.8;
    }
  }

  li {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: theme("margin.6");
  }

  .chroma {
    color: #fafafa;
    background: var(--color-zinc-950);
    font-family: "Iosevka GarrettDavisDev Web", monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    background: #09090b;
    border-radius: 0.25rem;

    .ln,
    .cl {
      padding-right: 0.75rem;
    }
  }
}
